body {
    background: rgb(43,180,160);
    background: linear-gradient(90deg, rgba(43,180,160,1) 0%, rgba(44,105,215,1) 49%, rgba(0,146,255,1) 87%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

